

  .getProgectButton {
    background-color: white;
    border: 1px solid gray;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  .onBoardButton {
    background-color: black; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.container {
    padding: 1px;
    border: 1px solid transparent; /* Start with a transparent border */
    box-shadow: 0 0 0 0.2px grey; /* Use a box shadow for a thin visible border */
    border-radius: 40px;
   
  }